.row
%h2
  = @question.title
.row
  = @question.body
.row
  - if current_user&.author_of?(@question)
    = link_to 'Delete question', question_path(@question), method: :delete, remote: true
.row
  %h3Комментарии
.row
  .answers
    = render @question.answers
.row
  %h4Добавить комментарий
.row
  = form_for [@question, @answer], remote: true do |f|
    .row
      = render "shared/error_form", object: f.object
    .row
    = f.label :body
    = f.text_area :body, id: "new_answer_body"
    = f.submit "Create answer"
.row
  = link_to "Назад", questions_path
