- if answer.persisted?
  .row{id: "answer-body-#{answer.id}", class: ("best-answer" unless answer.best?)}
    = answer.body
    .row
      - if current_user && current_user.author_of?(@question) && !answer.best?
        = link_to "best", best_question_answer_path(@question, answer), remote: true, method: :put
      - if current_user&.author_of?(answer)
        %p
          = link_to "Edit", '', class: "edit-answer-link", data: {answer_id: answer.id}
          = form_for [@question, answer], remote: true, html: {id: "edit-answer-#{answer.id}"} do |f|
            = f.label :body
            = f.text_area :body
            = f.submit "Save"
        %p
          = link_to 'Delete answer', question_answer_path(@question, answer), method: :delete, remote: true

